<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartment</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container my-4" th:object="${apartment}">
    <h1 class="mb-4">Apartment</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h2 class="card-title">Owner: <span th:text="${apartment.owner.name}"></span> <span
                    th:text="${apartment.owner.surname}"></span></h2>
            <p class="card-text"><strong>Email:</strong> <span th:text="${apartment.owner.email}"></span></p>
            <p class="card-text"><strong>Phone number:</strong> <span th:text="${apartment.owner.phoneNumber}"></span>
            </p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">Apartment Details</h3>
            <p class="card-text"><strong>Address:</strong> <span th:text="${apartment.apartmentDetails.address}"></span>
            </p>
            <p class="card-text"><strong>Area:</strong> <span th:text="${apartment.apartmentDetails.area}"></span> m²
            </p>
            <p class="card-text"><strong>Quantity of rooms:</strong> <span
                    th:text="${apartment.apartmentDetails.quantityOfRooms}"></span></p>
            <p class="card-text"><strong>Floor:</strong> <span th:text="${apartment.apartmentDetails.floor}"></span></p>
            <p class="card-text"><strong>Build year:</strong> <span
                    th:text="${apartment.apartmentDetails.buildYear}"></span></p>
            <p class="card-text"><strong>Price:</strong> $<span th:text="${apartment.apartmentDetails.price}"></span>
            </p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body">
            <h3 class="card-title">Description</h3>
            <p class="card-text"><strong>Condition:</strong> <span
                    th:text="${apartment.apartmentDescription.condition}"></span></p>
            <p class="card-text"><strong>Building type:</strong> <span
                    th:text="${apartment.apartmentDescription.buildingType.getDisplayValue()}"></span></p>
            <p class="card-text"><strong>Additional info:</strong> <span
                    th:text="${apartment.apartmentDescription.additionalInfo}"></span></p>
        </div>
    </div>
</div>
</body>
</html>
