<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Apartments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4" th:text="#{search.title}"></h1>

    <form method="post" th:action="@{/search}">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    <span th:text="#{search.price}"></span>
                    <input type="number" name="priceFrom" min="0" class="form-control" th:placeholder="#{search.from}">
                </label>
                <label>
                    <input type="number" name="priceTo" min="0" class="form-control" th:placeholder="#{search.to}">
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    <span th:text="#{search.quantityOfRooms}"></span>
                    <input type="number" name="quantityOfRoomsFrom" min="0" class="form-control"
                           th:placeholder="#{search.from}">
                </label>
                <label>
                    <input type="number" name="quantityOfRoomsTo" min="0" class="form-control"
                           th:placeholder="#{search.to}">
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    <span th:text="#{search.area}"></span>
                    <input type="number" name="areaFrom" min="0" class="form-control" th:placeholder="#{search.from}">
                </label>
                <label>
                    <input type="number" name="areaTo" min="0" class="form-control" th:placeholder="#{search.to}">
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    <span th:text="#{search.floor}"></span>
                    <input type="number" name="floorFrom" min="0" class="form-control" th:placeholder="#{search.from}">
                </label>
                <label>
                    <input type="number" name="floorTo" min="0" class="form-control" th:placeholder="#{search.to}">
                </label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>
                    <span th:text="#{search.yearOfBuild}"></span>
                    <input type="number" name="yearOfBuildFrom" min="0" class="form-control"
                           th:placeholder="#{search.from}">
                </label>
                <label>
                    <input type="number" name="yearOfBuildTo" min="0" class="form-control"
                           th:placeholder="#{search.to}">
                </label>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" th:value="#{search.buttonName}">
        </div>
    </form>

    <div th:if="${apartments != null && apartments.size() > 0}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th th:text="#{search.address}"></th>
                <th th:text="#{search.price}"></th>
                <th th:text="#{search.area}"></th>
                <th th:text="#{search.quantityOfRooms}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="apartment : ${apartments}">
                <td>
                    <a th:text="${apartment.apartmentDetails.address}" th:href="@{'/apartment/'+${apartment.id}}"></a>
                </td>
                <td th:text="${apartment.apartmentDetails.price}"></td>
                <td th:text="${apartment.apartmentDetails.area}"></td>
                <td th:text="${apartment.apartmentDetails.quantityOfRooms}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${apartments == null || apartments.size() == 0}">
        <p th:text="#{search.noResults}"></p>
    </div>

    <div class="my-4">
        <a th:href="@{/}" class="btn btn-secondary" th:text="#{search.toHome}"></a>
    </div>
</div>
</body>
</html>
